.diet-table-container {
  margin: 20px;
  padding: 20px;
  overflow-x: auto; // Añade scroll horizontal en dispositivos pequeños
}

.diet-table {
  width: 100%;
  border-collapse: collapse;
}

.diet-table th, .diet-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #7b4feb;
  color: white;
  text-align: center;
}

.diet-table th {
  text-align: center;
}

.diet-table tr:hover {
  background-color: #ffffff;
}

.diet-table td {
  color: #666;
}
