@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  width: 100%;
  position: sticky;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
  position: relative;
}

.nav-logo {
  color: #d5bcfc;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-items: center;
}

.nav-logo .icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-left: 30px;
  margin-top: 11px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 15rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item-c {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.8s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #ffffff;
}

.nav-item .active {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.nav-icon {
  display: none;
  color: #ffffff;
}

.nav-icon .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.bttn-color {
  background-color: #ffffff;
  color: #7b4feb;
  padding: 8px 16px;
}

.bttn-item {
  margin-left: 1rem;
}

.menu-list {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding-top: 0.1%;
  z-index: 1050;
}

.menu-item {
  padding: 20px 30px;
  cursor: pointer;
  font-size: 16px;
}

.menu-item:hover {
  background-color: #f5f5f5;
}

.menu-divider {
  border-top: 2px solid #eee;
}

@media screen and (max-width: 1290px) {
  .nav-menu {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 0;
    transition: all 0.5s ease;
    overflow-y: auto;
    max-height: 60vh;
    z-index: 1;
  }

  .nav-links {
    color: #712ce0;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item:hover:after {
    width: 100%;
    background: #712ce0;
  }

  .nav-item .active {
    color: #d5bcfc;
    border: none;
  }

  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .bttn-item {
    padding: 1.5rem;
  }

  .nav-logo .icon {
    width: 3rem;
    height: 3rem;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: #ffffff;
  }

  .bttn-menu {
    display: flex;
    justify-content: center;
  }

  .bttn-color {
    background-color: #712ce0;
    color: #fff;
  }
}
